<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Expert Search Form -->
<div th:fragment="expertSearchForm">
<div id="expertsearch" class="w3-row">
    <div class="w3-col m7" style="margin:auto; float:none;">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <!--<h6 class="w3-opacity">Search for Experts</h6>-->
                <form th:action="@{/postExpertQuery}" th:object="${expertQuery}" method="post">
                    <input th:field="*{advanced}" id="advancedinput" type="hidden">
                    <p class="w3-large" style="margin-top: 8px;">
                        <!--<label class="w3-text-theme"><b>Topic</b></label>-->
                        <input th:field="*{topic}" class="w3-input w3-border" type="text"></p>
                    <div id="advancedsearch" th:styleappend="*{advanced} ? 'display:block' : 'display:none'">
                        <textarea th:each="methodInfo : *{methodParamMap}" th:id="${methodInfo.key}" th:field="*{methodParamMap[__${methodInfo.key}__]}" th:rows="*{methodParamLengthMap[__${methodInfo.key}__]}" style="display:none; resize:none;"></textarea>
                        <table class="mytable">
                            <tr>
                                <td>
                                    <label class="w3-text-theme"><b># documents</b></label>
                                    <input th:field="*{topDocCount}" class="w3-input w3-border" type="number" step="100.0">
                                </td>
                                <td>
                                    <label class="w3-text-theme"><b># results</b></label>
                                    <input th:field="*{resultCount}" class="w3-input w3-border" type="number" step="1.0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w3-text-theme"><b>K</b></label>
                                    <input th:field="*{k}" class="w3-input w3-border" type="number" step="1.0">
                                </td>
                                <td>
                                    <label class="w3-text-theme"><b>Lambda</b></label>
                                    <input th:field="*{lambda}" class="w3-input w3-border" type="number" step="0.1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w3-text-theme"><b>Epsilon</b></label>
                                    <input th:field="*{epsilon}" class="w3-input w3-border" type="number" step="0.00000001">
                                </td>
                                <td>
                                    <label class="w3-text-theme"><b>Md</b></label>
                                    <input th:field="*{md}" class="w3-input w3-border" type="number" step="0.05">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w3-text-theme"><b>Mca</b></label>
                                    <input th:field="*{mca}" class="w3-input w3-border" type="number" step="0.05">
                                </td>
                                <td th:styleappend="${showMethod} ? '' : 'display:none'">
                                    <label class="w3-text-theme"><b>Method</b></label>
                                    <select id="methodselect" th:field="*{method}" class="w3-select w3-border" style="background:white" name="option">
                                        <option th:each="efmethod : ${expertfindingmethods}" th:value="${efmethod.getId()}" th:text="${efmethod.getName()}"></option>
                                        <option value="6">Elastic</option>
                                        <option value="3">Model 2</option>
                                        <option value="0">K-Step</option>
                                        <option value="1">Infinite Random Walk</option>
                                        <option value="2">Infinite Random Walk - Full Graph</option>
                                        <option value="4">Infinite Random Walk - Weighted Full Graph</option>
                                        <option value="5">Page Rank</option>
                                        <option value="7">local h-index</option>
                                        <option value="8">global h-index</option>
                                        <option value="9">local citations</option>
                                        <option value="10">global citations</option>
                                    </select>
                                </td>
                            </tr>
                            <tr th:styleappend="${showMethod} ? 'display:none' : ''">
                                <td>
                                    <label class="w3-text-theme"><b>Method 1</b></label>
                                    <select th:field="*{method1}" class="w3-select w3-border" style="background:white" name="option">
                                        <option th:each="efmethod : ${expertfindingmethods}" th:value="${efmethod.getId()}" th:text="${efmethod.getName()}"></option>
                                        <option value="6">Elastic</option>
                                        <option value="3">Model 2</option>
                                        <option value="0">K-Step</option>
                                        <option value="1">Infinite Random Walk</option>
                                        <option value="2">Infinite Random Walk - Full Graph</option>
                                        <option value="4">Infinite Random Walk - Weighted Full Graph</option>
                                        <option value="5">Page Rank</option>
                                        <option value="7">local h-index</option>
                                        <option value="8">global h-index</option>
                                        <option value="9">local citations</option>
                                        <option value="10">global citations</option>
                                    </select>
                                </td>
                                <td>
                                    <label class="w3-text-theme"><b>Method 2</b></label>
                                    <select th:field="*{method2}" class="w3-select w3-border" style="background:white" name="option">
                                        <option th:each="efmethod : ${expertfindingmethods}" th:value="${efmethod.getId()}" th:text="${efmethod.getName()}"></option>
                                        <option value="6">Elastic</option>
                                        <option value="3">Model 2</option>
                                        <option value="0">K-Step</option>
                                        <option value="1">Infinite Random Walk</option>
                                        <option value="2">Infinite Random Walk - Full Graph</option>
                                        <option value="4">Infinite Random Walk - Weighted Full Graph</option>
                                        <option value="5">Page Rank</option>
                                        <option value="7">local h-index</option>
                                        <option value="8">global h-index</option>
                                        <option value="9">local citations</option>
                                        <option value="10">global citations</option>
                                    </select>
                                </td>
                            </tr>
                            <tr th:styleappend="${showMethod} ? 'display:none' : ''">
                                <td>
                                    <label class="w3-text-theme"><b>Method 3</b></label>
                                    <select th:field="*{method3}" class="w3-select w3-border" style="background:white" name="option">
                                        <option th:each="efmethod : ${expertfindingmethods}" th:value="${efmethod.getId()}" th:text="${efmethod.getName()}"></option>
                                        <option value="6">Elastic</option>
                                        <option value="3">Model 2</option>
                                        <option value="0">K-Step</option>
                                        <option value="1">Infinite Random Walk</option>
                                        <option value="2">Infinite Random Walk - Full Graph</option>
                                        <option value="4">Infinite Random Walk - Weighted Full Graph</option>
                                        <option value="5">Page Rank</option>
                                        <option value="7">local h-index</option>
                                        <option value="8">global h-index</option>
                                        <option value="9">local citations</option>
                                        <option value="10">global citations</option>
                                    </select>
                                </td>
                                <td>
                                    <label class="w3-text-theme"><b>Method 4</b></label>
                                    <select th:field="*{method4}" class="w3-select w3-border" style="background:white" name="option">
                                        <option th:each="efmethod : ${expertfindingmethods}" th:value="${efmethod.getId()}" th:text="${efmethod.getName()}"></option>
                                        <option value="6">Elastic</option>
                                        <option value="3">Model 2</option>
                                        <option value="0">K-Step</option>
                                        <option value="1">Infinite Random Walk</option>
                                        <option value="2">Infinite Random Walk - Full Graph</option>
                                        <option value="4">Infinite Random Walk - Weighted Full Graph</option>
                                        <option value="5">Page Rank</option>
                                        <option value="7">local h-index</option>
                                        <option value="8">global h-index</option>
                                        <option value="9">local citations</option>
                                        <option value="10">global citations</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input th:field="*{options.collaborationTF}" class="w3-check" type="checkbox">
                                    <label>Col TF</label>
                                    <input th:field="*{options.collaborationIDF}" class="w3-check" type="checkbox">
                                    <label>Col IDF</label>
                                    <input th:field="*{options.citationTF}" class="w3-check" type="checkbox">
                                    <label>Cit TF</label>
                                    <input th:field="*{options.citationIDF}" class="w3-check" type="checkbox">
                                    <label>Cit IDF</label>
                                    <input th:field="*{options.authorshipTF}" class="w3-check" type="checkbox">
                                    <label>Aut TF</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p style="margin-bottom: 6px;">
                        <button type="button" onclick="toggleAdvancedInput('advancedsearch')" class="w3-button w3-theme"><i id="advancedinputicon" th:classappend="*{advanced} ? 'fas fa-angle-double-up' : 'fas fa-angle-double-down'"></i>  Advanced</button>
                        <button name="redirectTo" th:value="${redirectTo}" type="submit" class="w3-button w3-theme"><i class="fa fa-search"></i>  Search</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>